
*{
    outline: 1px dotted red;
}

body {
    background-color: rgb(66, 37, 17);
}

section,main{
    background-color: rgb(238, 208, 168);
    padding:24px;
    border-radius:24px;
}

nav{
    background-color: rgb(209, 150, 61);
    padding:24px;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
}

section,main {
    margin:24px;
    display:flex;
}

main {
    flex-direction: column;
}

main > img {
    height:128px;
    width:128px;
    margin:auto;
}

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Gentium Basic', serif;
}


.hero > h1, .hero > h2 {
    text-align:center;
}

.badges {
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
}

.badge {
    width:128px;
    margin:24px;
}

.badge > p {
    text-align: center;
}

.projects {
    flex-direction:column;
}

.project > img{
    width:128px;
    height:128px;
}

.contact > ul {
    list-style:none;
}

.contact li {
    display: inline-block;
    margin-right: 36px;
}


